<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Cuiiter | Page introuvable</title>
</head>

    <!-- Error 404 Page -->

<body class="bg-green-500">
    <div class="container mx-auto sm:px-6 lg:px-8 h-screen flex flex-col justify-center items-center">
        <h1 class=" p-10 flex justify-center text-center text-white text-xl font-bold mb-4">Ooops...</h1>

        <div class="w-full sm:w-auto">
            <a href="./accueil">
    
                    <!-- Logo located  above the form-->
    
            <img class="animate-bounce mx-auto mb-4 sm:max-w-xs md:max-w-none md:mb-0 hover:cursor-pointer hover:brightness-90" src="./assets/chicken.png"style="max-width: 400px; max-height: 400px; transform: rotateX(190deg);" alt="twitter logo">
            </a>
        </div>
        <h1 class=" p-10 flex justify-center text-center text-white text-xl font-bold mb-4">ERROR 404 PAGE NOT FOUND..</h1>

    </div>
</body>
</html>